//--------------Colour Scheme -------------------
$primary: rgba(255,255,255,1);
$secondary: rgba(20,20,20,1);
$third: rgba(200,20,20,1);
//--------------End of Colour Scheme -------------------

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: $secondary;
}

.loader {
  background-color: $secondary;
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  p {
    color: $primary;
    text-align: center;
  }
  #loading {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    position: absolute;
    font-size: 3em;
  }

  .dots-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  .dots {
      height: 3em;
      width: 3em;
      border-radius: 50%;
      background-color: $primary;
      display: inline-block;
      margin: .5em;
      animation: scale 2s ease-in-out infinite;
      margin-top: 6em;
  }
}
@keyframes scale {
  0%{transform: scale(00);}
  50%{transform: scale(1.0);}
  100%{transform: scale(00);}
}

.selected {
  color: $third !important;
  transition: all .4s ease-in-out;
}

.top-contact {
  width: 100vw;
  height: 5vh;
  background-color: $third;
  font-family: 'Lato', sans-serif;
  position: relative;
  z-index: 9999;
  font-size: 0.9em;
  li {
    list-style-type: none;
    color: $primary;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    transition: 0.25s ease-in-out;
  }

  li:hover {
    transition: 0.25s ease-in-out;
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
    color: $primary;
    font-weight: bold;
  }
  ul {
    margin-left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .fa-phone, .fa-envelope {
    font-size: 1.1em;
  }

}

#myBar {
  width: 1%;
  height: 0.4em;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: baranim 5s linear infinite;
  z-index: 9;
  width: 0%;
  position: absolute;
  bottom: 0;
}

#myBar-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  filter: blur(5px);
}

@keyframes baranim {
  0% {filter: hue-rotate(0deg);}
  50% {filter: hue-rotate(360deg);}
  100% {filter: hue-rotate(0deg);}
}

#page-break {
  color: transparent;
}

#mainpage {
  height: 100vh;
  width: 100vw;
}
.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  -webkit-transition: all 0.5s ease-in-out;
}

.navbar-relative {
  position: relative;
  height: 14.8vh;
  -webkit-transition: all 0.5s ease-in-out;
}

#navbar {
  font-size: 0.875em;
  background-color: $primary;
  color: $primary;
  z-index: 999;
  width: 100vw;
  box-shadow: 0 0.1em 0.625em $primary;
  font-family: 'Lato', sans-serif;

  .fa-linkedin {
    background: $primary;
    color: #007bb5;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    z-index: 9999;
    transition-duration: 0.5s;

    padding: 0.5em;
    font-size: 1.4em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition-delay: 0s;
  }

  .fa:hover {
    color: $primary;
    background-color: #007bb5;
    transition-delay: 0.4s;
    span:nth-child(1) {animation: linkedin1 0.4s linear;}
    span:nth-child(2) {animation: linkedin2 0.4s linear;}
    span:nth-child(3) {animation: linkedin3 0.4s linear;}
    span:nth-child(4) {animation: linkedin4 0.4s linear;}
    span {display: block;}
    }

  span {
    position: absolute;
    background: #007bb5;
    display: none;
  }

  span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  span:nth-child(2) {
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
  }
  span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  span:nth-child(4) {
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
  }
  @keyframes linkedin1 {
  0% {
    display: block;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
  }

  @keyframes linkedin2 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes linkedin3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(00%);
    }
  }

  @keyframes linkedin4 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(00%);
    }
  }

  }
.navbar-ul {
  text-align: right;
  margin-right: 5vw;
  position: relative;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  li{
    display: inline-block;
    margin-left: 2.875em;
    text-transform: uppercase;
    font-weight: 900;
    }
  a {
    text-decoration: none;
    color: $secondary;
  }

  a::after{
    content: '';
    display: block;
    width: 0.5em;
    height: 0.125em;
    background: $third;
    transition: width .4s;
  }
  a:hover::after {
    width: 100%;
    transition: width .4s;
  }
}

.timeline-selected {
  color: $third !important;
  transition: all .4s;
}

//-------------------Start of Opening---------------------

@media (max-width: 50em){
  .opening-text {
    font-size: 95%;
  }
}
@media (max-width: 47em){
  .opening-text {
    font-size: 90%;
  }
}

@media (max-width: 44em){
  .opening-text {
    font-size: 84%;
  }
}

.opening{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Roboto', sans-serif;
}

.opening-text {
  color: $primary;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
  h1 {
    font-size: 4em;
    margin-bottom: 1.5vh;
  }
  h2 {
    padding-top: 1.5vh;
    font-size: 1.2em;
    letter-spacing: 0.3em;
  }
  hr {
    height: 0.01em;
    width: 55vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary;
    background: $primary;
    border: 0.01em solid $primary;
  }
}

//-------------------End of Opening---------------------

.scroll-down {
	position: absolute;
  z-index: 9999;
	left: 50%;
	bottom: 3vh;
	display: block;
	text-align: center;
  width: 1.25em;
  height: 1.25em;
  border-bottom: 0.1em solid $primary;
  border-right: 0.1em solid $primary;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  animation: scroll-down-bounce 1.5s infinite;
}

@keyframes scroll-down-bounce {
  0%{
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
  }
  50%{
    transform: translateY(30%) rotate(45deg);
    -webkit-transform: translateY(30%) rotate(45deg);
    -moz-transform: translateY(30%) rotate(45deg);
  }
  100%{
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
  }
}

#case-studies {
  margin-top: 5vh;
  height: 90vh;
  width: 100vw;
  position: relative;

  .case-nav {
    position: relative;
    background-color: transparent;
    height: 10vh;
    width: 100%;
    .case-nav::before,
    .case-nav::after {
      content: "";
      display: table;
    }
    .case-nav::after {
      clear: both;
    }
    .tab {
      float: left;
      z-index: 9999;
    }
    .tab-switch {
      visibility: hidden;
      display: none;
    }
    label {
      font-size: 1.5em;
      font-weight: bold;
      width: 32.55vw;
      text-align: center;
      font-family: 'Lato', sans-serif;
      position: relative;
      display: block;
      line-height: 3.25em;
      height: 5em;
      background-color: $third;
      color: $primary;
      cursor: pointer;
      top: 0;
      transition: all 0.25s;
      border-radius: .5em;
      margin: 0 .1vw;
    }

    #tab-1-label{
      margin-left: 0.99vw;
    }

    label:hover {
      top: -0.25em;
      transition: top 0.25s;
      box-shadow: 0 0 .3em .1em $third;
    }


  #leonard, #search, #website {
    padding: 1vw;
    height: 71vh;
    width: 96vw;
    position: absolute;
    z-index: 1;
    top: 5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    color: $secondary;
    opacity: 1;
    transition: all 0.35s;
    font-family: 'Roboto', sans-serif;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .tab-switch:checked + label {
    background-color: $primary;
    color: $third;
    border-bottom: 0;
    transition: all 0.35s;
    z-index: 1;
  }
  .tab-switch:checked + label + .case{
    z-index: 2 !important;
    opacity: 1 !important;
    transition: all 0.35s;
  }
}
}
#about {
  width: 100vw;
  /*outline: 0.2rem solid #494ca2;
  outline-offset: -2.5em;*/

  .personal-statement {
    width: 93.2vw;
    position: relative;
    text-align: center;
    margin: 3vw 3vw 0 3vw;
  }

  @media (min-width: 40em) {
    #personal-statement-h2{
      font-size: 1.6em;
    }
    #personal-statement-p {
      font-size: 1.1em;
    }
  }

  @media (max-width: 40em) {
    #personal-statement-h2{
      font-size: 1.4em;
    }
    #personal-statement-p {
      font-size: .9em;
    }
  }

  @media (max-width: 22em) {
    #personal-statement-h2{
      font-size: 1.3em;
      margin-top: 5vw;
    }
    #personal-statement-p {
      font-size: .8em;
    }
  }

  #personal-statement-h2 {
    color: $primary;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.3em;
    text-align: left;
  }

  #personal-statement-p {
    color: $primary;
    font-family: 'Roboto', sans-serif;
    text-align: left;
  }

@media (max-width: 70rem) {
  #about-cards {
    grid-template-columns: auto;
    grid-rows: auto auto auto;
    grid-row-gap: 8vh;
    grid-column-gap: 0;
    margin-top: 5vh;
    div {
      width: 85.2vw;
    }
  }
}
@media (min-width: 70rem) {
  #about-cards {
    grid-template-columns: auto auto auto;
    grid-rows: auto;
    grid-column-gap: 3.3vw;
    grid-row-gap: 0;
    margin-top: 5vh;
    div {
      width: 30vw;
    }
  }
}

#about-cards {
  color: $secondary;
  height: auto;
  width: auto;
  position: relative;
  display: grid;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  z-index: 0;

  div {
    height: 80vh;
    margin-top: 0;
    border-radius: 3em;
  }
  h2 {
    font-size: 3.2em;
    color: $primary;
    text-transform: uppercase;
  }
}

  #about-title {
    color: $primary;
    text-align: center;
    font-family: 'Lato', sans-serif;
    z-index: 1;
  }

  @media (min-width: 40em) {
    #about-title,  #about-title-depth{
      font-size: 3em;
    }
  }

  @media (max-width: 40em) {
    #about-title,  #about-title-depth{
      font-size: 2.6em;
    }
  }
  @media (max-width: 35em) {
    #about-title,  #about-title-depth{
      font-size: 2.3em;
    }
  }
  @media (max-width: 30em) {
    #about-title,  #about-title-depth{
      font-size: 2.1em;
    }
  }
  @media (max-width: 22em) {
    #about-title,  #about-title-depth{
      font-size: 1.6em;
    }
  }

  #about-title-hr {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 93.4vw;
    color: $primary;
    z-index: 0;
    background: $primary;
    margin-top: 0.5em;
    height: 0.05em;
  }

  #about-title-depth{
    color: $primary;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    text-align: center;
    margin-top: 1em;
  }

  #about-title-hr-depth{
    color: $primary;
    z-index: 0;
    background: $primary;
    margin-top: 0.5em;
    height: 0.05em;
    width: 97vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media(min-width:70em) {
    .about-skills:hover .about-skills-inner {
      transform: rotateY(180deg);
    }
    .about-qual:hover .about-qual-inner {
      transform: rotateY(180deg);
    }
    .about-xp:hover .about-xp-inner {
      transform: rotateY(180deg);
    }
    .about-qual-back, .about-xp-back, .about-skills-back {
      transform: rotateY(-180deg);
    }
  }

  @media(max-width:70em) {
    .about-skills:hover .about-skills-inner {
      transform: rotateX(-180deg);
    }
    .about-qual:hover .about-qual-inner {
      transform: rotateX(-180deg);
    }
    .about-xp:hover .about-xp-inner {
      transform: rotateX(-180deg);
    }
    .about-qual-back, .about-xp-back, .about-skills-back {
      transform: rotateX(-180deg);
    }
  }

  .about-skills-front, .about-skills-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .about-skills-front {
      background:
      linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('coding(1).jpg');
    }
    .about-skills-back {
      overflow-y: hidden;
      li {
        line-height: 5vh;
      }
      li:before {
        content: "✔";
        color: green;
        padding-right: 0.5em;
      }
    }

  .about-xp, .about-skills, .about-qual{
    margin-top: 10vh;
    background-color: transparent;
    perspective: 1000px;
  }

  .about-xp-front, .about-xp-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .about-xp-front {
      background:
      linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('circuit-board(1).jpg');
    }
    .about-xp-back {
      overflow-y: hidden;

      li:before {
        content: "✔";
        color: green;
        padding-right: 0.5em;
      }

      h3 {
        margin-top: 1em;
        text-align: center;
        margin-bottom: 1em;
      }

      p {
        margin-bottom: 1.5em;
      }

    }

  .about-qual-inner, .about-xp-inner, .about-skills-inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    }

  .about-qual-front, .about-qual-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .about-qual-front, .about-skills-front, .about-xp-front {
      line-height: 80vh;
      text-align: center;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      color: $primary;
      background-color: $secondary;
    }

    @media (max-width: 60em) {
      .about-qual-front, .about-skills-front, .about-xp-front {
        font-size: 125%;
      }
    }

    @media (max-width: 31.25em) {
      .about-qual-front, .about-skills-front, .about-xp-front {
        font-size: 100%;
      }
    }

    @media (max-width: 25em) {
      .about-qual-front, .about-skills-front, .about-xp-front {
        font-size: 85%;
      }
    }

    .about-qual-back, .about-xp-back, .about-skills-back {
      background-color: $primary;

      li {
        list-style-type: none;
      }

      hr {
        width: 80%;
        margin: auto;
        margin-top: 1em;
        margin-bottom: 1em;
        background-color: $third;
        color: $third;
        height: 0.05em;
        border: 0.05em solid $third;
      }

      p, li, h3 {
        margin-left: 1em;
        margin-right: 1em;
      }

      h3 {
        margin-top: 1em;
        text-align: center;
        margin-bottom: 1em;
      }

    }

    .about-qual-front{
      background:
      linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('book-shelves(1).jpg');
      background-size: cover;
    }

    .about-qual-back {
      overflow-y: hidden;
    }

    @media(min-width: 80em) {
      .about-xp-back li{
          line-height: 4vh;
        }
    }
    @media(max-width: 75em) {
      .about-xp-back li{
          line-height: 3vh;
        }
    }
    @media(max-width: 70em) {
      .about-xp-back li{
          line-height: 8vh;
        }
    }
    @media(max-width: 70em) {
      .about-xp-back li{
          line-height: 7vh;
        }
    }
    @media(max-width: 50em) {
      .about-xp-back li{
          line-height: 5vh;
        }
    }
    @media(max-width: 44em) {
      .about-xp-back li{
          line-height: 4.5vh;
        }
    }
    @media(max-width: 31em) {
      .about-xp-back li{
          line-height: 4vh;
        }
    }
    @media(max-width: 28.125em) {
      .about-xp-back li{
          line-height: 3.5vh;
        }
    }
    @media(max-width: 25em) {
      .about-xp-back li{
          line-height: 3vh;
        }
    }
    @media(max-width: 23.125em) {
      .about-xp-back li{
          line-height: 2.7vh;
        }
    }

  @media(min-width: 80em) {
    .about-qual-back li{
        line-height: 3.4vh;
      }
  }
  @media(max-width: 75em) {
    .about-qual-back li{
        line-height: 2.4vh;
      }
  }
  @media(max-width: 70em) {
    .about-qual-back li{
        line-height: 8vh;
      }
  }
  @media(max-width: 70em) {
    .about-qual-back li{
        line-height: 4.1vh;
      }
  }
  @media(max-width: 44em) {
    .about-qual-back li{
        line-height: 3.7vh;
      }
  }
  @media(max-width: 31em) {
    .about-qual-back li{
        line-height: 3.5vh;
      }
  }
  @media(max-width: 28.125em) {
    .about-qual-back li{
        line-height: 3vh;
      }
  }
  @media(max-width: 25em) {
    .about-qual-back li{
        line-height: 2.3vh;
      }
  }
  @media(max-width: 23.125em) {
    .about-qual-back li{
        line-height: 2.2vh;
      }
  }

  @media(min-width: 80em) {
    .about-skills-back li{
        line-height: 5.5vh;
      }
  }
  @media(max-width: 75em) {
    .about-skills-back li{
        line-height: 4.9vh;
      }
  }
  @media(max-width: 71em) {
    .about-skills-back li{
        line-height: 4.5vh;
      }
  }
  @media(max-width: 70em) {
    .about-skills-back li{
        line-height: 6vh;
      }
  }
  @media(max-width: 44em) {
    .about-skills-back li{
        line-height: 5.6vh;
      }
  }

  @media(max-width: 28.125em) {
    .about-skills-back li{
        line-height: 5.2vh;
      }
  }
  @media(max-width: 25em) {
    .about-skills-back li{
        line-height: 4.8vh;
      }
  }
  @media(max-width: 23.125em) {
    .about-skills-back li{
        line-height: 4vh;
      }
  }


  .timeline {
    position: relative;
    margin: 0 2em 0 0;
    font-family: 'Robotto', sans-serif;
    margin-top: 1.5em;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 0.5em;
    background-color: transparent;
    top: 0;
    bottom: 0;
    left: 2em;
    border-left: 0.5em dotted rgba(255,255,255, 0.1);
    pointer-events: none;
    z-index: 0;
    height: 98%;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 95%;
    margin: auto;
    opacity: 0.7;
    transition: 0.5s ease-in-out;
  }
  .container::before {
    left: 3em;
    border: medium solid $primary;
    border-width: 10px 10px 10px 0;
    border-color: transparent $primary transparent transparent;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 1.85em;
    height: 1.85em;
    background-color: $primary;
    border: 0.33em solid $third;
    top: 1em;
    border-radius: 50%;
    z-index: 1;
    left: 2em;
  }

  .right {
    left: 0;
  }
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 1.2em;
    width: 0;
    z-index: 1;
    border-width: 1em 1em 1em 0;
    border-color: transparent $primary transparent transparent;
    margin-left: 0.55em;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: 15px;
  }

  /* The actual content */
  .content {
    background-color: $primary;
    color: $secondary;
    margin-left: 2em;
    padding: 1em;
    text-transform: none;
    font-weight: bold;
    font-family: 'Robotto', sans-serif;
    z-index: 9999;
    transition: 0.2s ease-in-out;
    h2 {
      font-size: 1.6em;
      margin-bottom: 0.25em;
      font-family: 'Lato', sans-serif;
    }
    h3 {
      font-size: 1.3em;
      margin-bottom: 0.15em;
    }
    }
    .container:hover{
      transform: scale(1.02);
      opacity: 1;
    }
    .content:hover {
      box-shadow: 5px 5px 10px gray;
    }
}

@media (min-width: 34em) {
  .hobbies-p-div {
    border: 0.1em solid $primary;
  }
  #hobbies-h1 {
    border-bottom: 0;
    padding: 0 .35em;
  }
}
@media (max-width: 34em) {
  .hobbies-p-div {
    border: 0;
  }
  #hobbies-h1 {
    border-bottom: 0.08em solid $primary;
    width: 90vw;
    padding: 0 .35em .2em .35em;
  }
}

@media (max-width: 60em) {
  .hobbies-p-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
    font-size: 90%;
    h2 {
      text-align: center;
      margin: 1em 2em 1em 2em;
    }
    div:nth-child(even) {
      height: 5%;
    }

    .motor-title, .martial-title {
      border-top: .2em solid $primary;
    }
    div:nth-child(odd) {
      border-left: 0;

    }
    p {
      margin: 1em 1em 1em 1em;
      padding: 0;
    }
  }
  .coding-title {
    margin-top: .5em;
  }
}

@media (max-width: 30em) {
  .hobbies-p-div {
    font-size: 80%;
    p{
      margin: 1em .5em 1em .5em;
    }
  }

}

@media (min-width: 60em) {
  .hobbies-p-div {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    h2 {
      text-align: right;
      margin: 2em 2em 2em 2em;
    }
    div:nth-child(odd) {
      border-left: 0.1em solid $primary;
      padding-left: 2em;
    }
    .coding-p, .coding-title {
      margin-top: 2.5em;
    }
    .martial-title, .martial-p {
      margin-bottom: 2.5em;
    }
    p {
      margin: 2em 2em 2em 2em;
    }
    div:nth-child(odd) {
      margin-left: -0.15em;
    }
  }
}

.hobbies {
  width: 100vw;
  height: auto;
  color: $primary;
  position: relative;
  .hobbies-p-div {
    margin: 3em 1em 1em 1em;
    display: grid;
    align-items: center;
    line-height: 1.4em;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
  }

  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
  }

  #hobbies-h1 {
    color: $primary;
    font-family: 'Lato', sans-serif;
    position: absolute;
    font-size: 3em;
    transform: translate(-50%, 0);
    left: 50%;
    background-color: $secondary;
    top: -0.2em;
    text-align: center;
    white-space: nowrap;
  }
  @media(max-width: 65em) {
    #hobbies-h1 {
      font-size: 2.8em;
    }
  }
  @media(max-width: 50em) {
    #hobbies-h1 {
      font-size: 2.5em;
    }
  }
  @media(max-width: 40em) {
    #hobbies-h1 {
      font-size: 2.3em;
    }
  }
  @media(max-width: 30em) {
    #hobbies-h1 {
      font-size: 2.1em;
    }
  }
}

#invis_about{
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 1vw;
  height: 1vh;
  background-color: transparent;
}

#invis_contact{
  position: absolute !important;
  bottom: 7vh !important;
  left: 0;
  width: 1vw;
  height: 1vh;
  background-color: transparent;
}

#invis_case{
  position: absolute !important;
  bottom: 6vh !important;
  left: 0;
  width: 1vw;
  height: 1vh;
  background-color: transparent;
}

#contact {
  height: 88vh;
  width: auto;
  background-color: $secondary;
  position: relative;



  .or {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    color: $primary;
    font-family: 'Arial', sans-serif;
    font-size: 1.7em;
  }

  #contact-message, #contact-email {
    text-align: center;
    padding: 0;
    margin: 0;
    white-space:nowrap;
  }
  @media (min-width: 60em) {
    #contact-message, #contact-email {
      font-size: 32px;
    }
  }
  @media (max-width: 55em) {
    #contact-message, #contact-email {
      font-size: 30px;
    }
  }
  @media (max-width: 25em) {
    #contact-message, #contact-email {
      font-size: 25px;
    }
  }
}

.box{
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  transform: translateY(0);
  color: $primary;
  width: 100%;
  font-size: 2.5em;
  text-transform: uppercase;
  height: 2em;
  margin-left: 3vw;
  margin-top: 3vh;
}
@media(min-width: 54em) {
  .word {
    display: inline-block;
  }

  .word span{
    top: 0em;
  }
}
@media(max-width: 54em) {
  .box {
    font-size: 95%;
    height: 3.5em;
  }
  .word {
    display: block;
  }

  .word span {
    top: 1.5em;
  }
}

@media(max-width: 60em) {
  .box {
    font-size: 225%;
  }

}
@media(max-width: 31.25em) {
  .box {
    font-size: 200%;
  }
}
@media(max-width: 26.875em) {
  .box {
    font-size: 185%;
  }
}
@media(max-width: 25em) {
  .box {
    font-size: 170%;
  }
}
@media(max-width: 23em) {
  .box {
    font-size: 160%;
  }
}

.word{
  font-family: 'Arial', sans-serif;
  color: $primary;
}
.word span{
  position: absolute;
  overflow: hidden;
  animation: word-change 12s linear infinite 0s;
  opacity: 0;
}
@keyframes word-change{
  0%{opacity: 0;transform: translateY(-50px);}
  2%{opacity: 1;transform: translateY(0px);}
  15%{opacity: 1;transform: translateY(0px);}
  20%{opacity: 0;transform: translateY(50px);}
  80%{opacity: 0;transform: translateY(50px);}
  100%{opacity: 0;transform: translateY(50px);}
}
.word span:nth-child(1)
{animation-delay: 0s;}
.word span:nth-child(2)
{animation-delay: 2s;}
.word span:nth-child(3)
{animation-delay: 4s;}
.word span:nth-child(4)
{animation-delay: 6s;}
.word span:nth-child(5)
{animation-delay: 8s;}
.word span:nth-child(6)
{animation-delay: 10s;}

.contact-lower {
  display: grid;
  position: relative;
}

@media (min-width: 54em) {
  .contact-lower {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .contact-form {
    width: 41vw;
    input, textarea {
    }
  }
}
@media (max-width: 54em) {
  .contact-lower {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .contact-form {
    width: 82vw;
    position: relative ;
    left: 50%;
    transform: translateX(-50%);
    input, textarea {
    }
  }
  .contact-direct {
    margin-top: 2em;
  }
}

.contact-form {
  background-color: $secondary;
  height: 100%;
  color: $primary;
  font-family: 'Roboto', sans-serif;
  margin-left: 1vw;
  padding: 1vw;
  font-size: 1.5em;

  input, textarea {
    border: 0;
    border-bottom: $primary solid 0.05em;
    font-size: 0.6em;
    color: $primary;
    outline: 0;
    transition: 0.4s ease-in-out;
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    width:100%;
  }

  button {
    font-family: 'Arial', sans-serif;
    width: 100%;
    border-radius: 0.4em;
    border: $primary solid 0.1em;
    background-color: transparent;
    color: $primary;
    font-size: 0.8em;
    padding: 0.3em;
    transition: 0.4s ease-in-out;
  }

  .input-class ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1em;
    background-color: $third;
    transition: 0.4s;
  }

  .input-class:focus ~ .focus-border,
  .has-content.input-class ~ .focus-border{
    width: 100%;
    transition: 0.4s;
  }

  .input-class:focus ~ label{
    top: -1em;
    font-size: 0.7em;
    color: $third;
    transition: 0.3s;
  }

  .input-class:valid ~ label {
    top: -1em;
    font-size: 0.7em;
    transition: 0.3s;
  }
  input[type="text"]{
    font: 0.7em "Lato", Arial, sans-serif;
    color: $primary;
    width: 100%;
    box-sizing: border-box;
  }

  textarea[type="message"]{
    font: 0.7em "Lato", Arial, sans-serif;
    color: $primary;
    width: 100%;
    box-sizing: border-box;
  }

  .input-class ~ label{
    position: absolute;
    left: 0;
    width: 100%;
    top: 0.2em;
    color: $primary;
    transition: 0.3s;
    letter-spacing: 0.01em;
    font-size: 0.8em;
    pointer-events: none;
  }

  .textarea-span {
    margin-bottom: 5px;
  }

  div {
    position: relative;
    margin-bottom: 2em;
  }

  textarea {
    resize: none;
  }

  button:hover {
    box-shadow: 0 0 0.2em 0.2em gray;
    cursor: pointer;
  }

  .transparent {
    color: transparent;
  }

  .g-recaptcha {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

}

.contact-direct {
  padding: 1vw;
  margin-left: 1vw;
  .contact-direct-area {

  }
  #contact-direct-email-h1, #contact-direct-phone-h1, #contact-direct-phone-title-h1, #contact-direct-email-title-h1 {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.2em;
    a {
      color: $primary;
      text-decoration: none;
    }
  }

  #contact-direct-phone-title-h1, #contact-direct-email-title-h1 {
    font-size: 1.5em;
  }

  .contact-direct-email, .contact-direct-phone {
    margin-top: 4em;
  }
}
